html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: #2f2f2f; }
  body.header-fixed {
    padding-top: 50px; }

.row {
  width: 960px;
  margin: 0 auto;
  position: relative; }

.welcome {
  background-image: -webkit-radial-gradient(0 0, circle, #fb723a, #fd4434);
  background-image: radial-gradient(  circle at 0 0, #fb723a, #fd4434);
  color: white;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15); }
  .welcome a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted transparent;
    -webkit-transition: border .25s;
    -moz-transition: border .25s;
    -ms-transition: border .25s;
    -o-transition: border .25s;
    transition: border .25s; }
    .welcome a:hover {
      border-color: white; }
  .welcome p {
    position: relative;
    z-index: 1; }
  .welcome h1 {
    font-weight: 600;
    margin: 0; }
  .welcome .row {
    padding: 4em 0; }
  .welcome .lines {
    background-image: url("../img/lines.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 70px;
    width: 750px;
    height: 238px;
    position: absolute;
    bottom: -7px;
    left: 105px; }

.header {
  background-color: rgba(255, 255, 255, 0.96);
  position: relative;
  top: 0;
  z-index: 5;
  width: 100%;
  overflow: hidden;
  -webkit-transition: box-shadow .25s;
  -moz-transition: box-shadow .25s;
  -ms-transition: box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s; }

.header.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15); }

.brand {
  float: left;
  display: block; }
  .brand img {
    padding-top: 5px; }

.nav {
  float: right;
  padding-top: 4px; }

.show-nav {
  display: none; }

.nav-item {
  color: #4a595e;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: .5em .75em;
  display: inline-block;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s; }
  .nav-item:hover, .nav-item.active {
    color: #fd4334; }

.gray {
  background-color: #F5F5F5; }

h2 {
  color: #29677F;
  text-align: center;
  margin: 0;
  margin-bottom: 1em;
  font-weight: 600; }

h3 {
  margin: 0; }

section .row {
  padding: 1.5em 0; }

section footer {
  text-align: center;
  margin-top: 1em;
  color: #8f8f8f; }

.row::before,
.row::after {
  content: " ";
  display: table; }

.row::after {
  clear: both; }

.wrap::before,
.wrap::after {
  content: " ";
  display: table; }

.wrap::after {
  clear: both; }

.portfolio-item {
  float: left;
  width: 25%;
  padding: 0 1.5em;
  text-align: center; }
  .portfolio-item sup {
    font-size: .5em;
    color: #8f8f8f; }
  .portfolio-item h3 sup {
    font-size: .25em; }
  .portfolio-item img {
    width: 100%;
    border: .25em solid white;
    border-radius: 1em;
    margin-bottom: 1em; }
  .portfolio-item h3,
  .portfolio-item h3 a {
    color: #222;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.15em;
    margin: 0;
    padding: 0;
    line-height: 1em; }
  .portfolio-item p {
    font-size: 1em;
    font-weight: 300;
    margin: .5em 0; }
  .portfolio-item footer {
    background: none;
    color: #2f2f2f;
    font-weight: 400;
    font-size: 0.8em; }

.wrap {
  padding: 1em 0; }

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
  float: left; }

.one {
  width: 8.33333%; }

.two {
  width: 16.66667%; }

.three {
  width: 25%; }

.four {
  width: 33.33333%; }

.five {
  width: 41.66667%; }

.six {
  width: 50%; }

.seven {
  width: 58.33333%; }

.eight {
  width: 66.66667%; }

.nine {
  width: 75%; }

.ten {
  width: 83.33333%; }

.eleven {
  width: 91.66667%; }

.twelve {
  width: 100%; }

.button {
  background-color: #4DC5F0;
  padding: .75em 1em;
  color: white;
  text-decoration: none;
  display: block;
  text-align: center;
  border: none;
  border-radius: .5em;
  -webkit-transition: background-color .25s;
  -moz-transition: background-color .25s;
  -ms-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s; }
  .button:hover {
    background-color: #46B1D7; }

.button-center {
  width: 75%;
  margin: 0 auto; }

.progress {
  width: 100%;
  position: relative;
  height: 40px; }
  .progress .start,
  .progress .finish,
  .progress .state {
    position: absolute; }
  .progress .start i,
  .progress .finish i,
  .progress .state i {
    border-radius: 100%;
    background-color: #4DC5F0;
    width: 40px;
    height: 40px;
    line-height: 32px;
    font-size: 1.2em;
    color: white;
    border: 5px solid #a2e1f8;
    text-align: center;
    vertical-align: middle;
    cursor: pointer; }
  .progress .start:hover .progress-message,
  .progress .finish:hover .progress-message,
  .progress .state:hover .progress-message {
    display: block; }
  .progress .finish i {
    background-color: #f2b745;
    border-color: #f8dba2; }
  .progress .start {
    left: 0;
    top: 0; }
  .progress .finish {
    right: 0;
    left: auto;
    top: 0; }
    .progress .finish .progress-message {
      position: absolute;
      right: 0; }
      .progress .finish .progress-message::before {
        left: auto;
        right: .7em; }
  .progress .state {
    top: 0; }

.progress-bar {
  background-color: #EEEEEE;
  height: 10px;
  width: 96%;
  left: 2%;
  position: absolute;
  top: 15px; }
  .progress-bar .fill {
    background-color: #4DC5F0;
    position: absolute;
    top: 0;
    height: 10px; }

.progress-message {
  width: 300px;
  background-color: rgba(250, 250, 250, 0.95);
  padding: 1em .5em;
  text-align: center;
  border-radius: .5em;
  margin-top: .75em;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  display: none; }
  .progress-message::before {
    content: " ";
    position: absolute;
    border: .5em solid;
    border-color: transparent transparent rgba(250, 250, 250, 0.95) transparent;
    top: -1em;
    left: .7em; }
  .progress-message h4 {
    margin: 0;
    color: #256780;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: .5em; }
  .progress-message p {
    margin: 0;
    font-size: .9em;
    font-weight: 300; }

.text-center {
  text-align: center; }

.social {
  text-align: center;
  margin-top: 1.75em; }

.social-item {
  width: 50px;
  height: 50px;
  border: 3px solid #2f2f2f;
  display: inline-block;
  border-radius: 100%;
  font-size: 1.6em;
  margin: 0 .5em;
  text-align: center;
  color: #2f2f2f;
  -webkit-transition: all .25s;
  -moz-transition: all .25s;
  -ms-transition: all .25s;
  -o-transition: all .25s;
  transition: all .25s; }
  .social-item:hover {
    border-color: white;
    color: white; }

.github {
  border-color: #2f2f2f;
  color: #2f2f2f;
  line-height: 42px; }
  .github:hover {
    background-color: #2f2f2f; }

.linkedin {
  border-color: #0072bc;
  color: #0072bc;
  line-height: 40px; }
  .linkedin:hover {
    background-color: #0072BC; }

.twitter {
  border-color: #00BFF3;
  color: #00BFF3;
  line-height: 43px; }
  .twitter:hover {
    background-color: #00BFF3; }

form {
  padding: 0 5%; }

input,
textarea {
  width: 100%;
  padding: .5em;
  border-radius: .5em;
  border: 1px solid #acacac;
  margin-bottom: 1em;
  background: none;
  font-size: 1em;
  -webkit-transition: background-color .25s;
  -moz-transition: background-color .25s;
  -ms-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s; }
  input:focus,
  textarea:focus {
    outline: none;
    background-color: white; }

.button-submit {
  background-color: #f2b745;
  width: 100%; }
  .button-submit:hover {
    background-color: #efa515; }

.footer {
  background-color: #123440;
  color: white;
  padding: .5em 0;
  text-align: center; }

img {
  max-width: 100%; }

.img2x {
  width: 50%;
  display: block;
  margin: 0 auto; }

.dark {
  background-color: #123440;
  color: white; }
  .dark h2 {
    color: #f0f0f0; }

@media screen and (max-width: 640px) {
  .one,
  .two,
  .three,
  .four,
  .five,
  .six,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .twelve,
  .portfolio-item {
    width: 100%;
    margin-bottom: 1em; }

  section .row,
  .row {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em; }

  .brand {
    float: none;
    display: block;
    width: 50px; }

  .nav {
    float: none;
    text-align: center; }

  .welcome .lines {
    display: none; }

  .welcome a {
    border-bottom: 1px dotted white; }

  .button-center {
    width: 90%; }

  .nav-item {
    display: block; }

  .show-nav {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    font-size: 2em;
    color: #fd4334; }

  .nav.collapse {
    display: none; }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }

  body {
    padding-top: 50px; } }
