* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-moz-selection {
  background: #E95E52;
  color: #fff;
}
::selection {
  background: #E95E52;
  color: #fff;
  text-shadow: 1px 1px rgba(0,0,0,.25);
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin: 0;
}

.container {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: -webkit-radial-gradient(0 0, circle, #E95E52, #C92E22);
  background-image: radial-gradient(circle at 0 0, #E95E52, #A90E02);
}

.container--ocean {
  background-image: -webkit-radial-gradient(0 0, circle, rgb(82, 190, 233), rgb(34, 140, 201));
  background-image: radial-gradient(circle at 0 0, rgb(82, 190, 233), rgb(34, 140, 201));
}

.welcome {
  color: white;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.15); }
  .welcome a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dotted transparent;
    -webkit-transition: border .25s;
    -moz-transition: border .25s;
    -ms-transition: border .25s;
    -o-transition: border .25s;
    transition: border .25s; }
    .welcome a:hover {
      border-color: white; }
  .welcome p {
    position: relative;
    z-index: 1; }
  .welcome h1 {
    font-weight: 600;
    margin: 0; }
.welcome-logo {
  height: 64px;
  width: 64px;
  display: block;
  margin: 0 auto 20px auto;
}

.social-item {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  margin-top: auto;
  margin: 0 .5em;
}

@media screen and (max-width: 640px) {
  .welcome a {
    border-bottom: 1px dotted white;
  }
}
